.change-password-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-content{
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    width: 500px;
}

.profile-setting-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-describe{
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 800px) {
    .change-password-content{
        width: 100%;
        padding: 10px;
    }
    
    .profile-setting-form{
        width: 100%;
    }
}