/* #search::-webkit-input-placeholder { 
    border-radius: 10px;
  } */

  .searchBar{
    border-radius: 10px;
  }

.searchBar  .MuiOutlinedInput-notchedOutline {
    border-radius: 10px !important;
  }

  @media screen and (max-width: 1000px) {
    .searchBar.MuiFormControl-root{
        width: 100%;
    }
    .title.MuiTypography-root{
        display: none;
    }
  }