.profile-setting-container{
    background-color: #fff;
}

.profile-setting-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
}

.title-describe{
    margin: 10px 0 10px 0;
}